#ast-scroll-top {
    background-color: #0274be;
    font-size: 15px;
    font-size: 1rem;
}
body #ast-scroll-top {display: block;}
body .ast-mobile-header-wrap .ast-mobile-header-content,body .ast-mobile-header-wrap .menu-toggle .ast-close-svg{display: block;}
@media (max-width: 921px){
	.ast-mobile-header-content .ast-main-header-bar-alignment .main-header-bar-navigation,body .ast-main-header-bar-alignment .main-header-bar-navigation {
	    display: block;
	}
	.ast-amp .content-align-center .main-navigation  ul .menu-item .menu-link{
     text-align: center;
	}
	.ast-amp .content-align-flex-end .main-navigation  ul .menu-item .menu-link{
     text-align: right;
	}
}
