.enhc-container{
    margin: 50px auto 0px auto;
    padding: 0 10px;
    box-sizing: border-box;
}
.enhr-comp-cont,.enhr_support{
		margin-top: 30px;
}		
.enhancer-nosetup {
    background-color: #fff;
    box-shadow: -10px 0 0 #e8e8e8;
    padding: 10px 30px 30px;
    border: 2px solid #e8e8e8;
    border-radius: 8px;
    max-width: 700px;
}
.enhc-notice-title{
	font-family: poppins,sans-serif;
	font-size: 1.4rem;
	font-weight: 600;
}
body {
    background: #f1f1f1;
    color: #444;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 13px;
    line-height: 1.4em;
    min-width: 600px;
}
.enhc-notice-cont{
	font-size:14px;
}
.enhr-compatible-section table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff;
}

.enhr-compatible-section td,.enhr-compatible-section th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 15px;
}
.enhr-hndle {
    padding: 12px 12px;
    font-size: 14px;
    margin: 0;
    line-height: 1.4;
    background: #ffffff;
    border-bottom: 1px solid #e6e6e6;
}
.enhr-inside {
    margin: 6px 0 0 0;
    padding: 0 12px 12px;
    line-height: 1.4;
    font-size: 13px;
}
.enhr_support a{text-decoration: none;}
.enhr-yes {
    color: green;
    margin-right: 5px;
}
.enhr-comp-title{
	font-size: 1.5rem;
	margin-top: 30px;
}
.enhr-comp-table th{
  font-weight: 600;
  font-size: 17px;
}
.enhr-comp-table td{
	font-size: 16px;
}
.clearfix {
    clear: both;
}
.nav-tab-wrapper {
    margin-bottom: 20px;
}
.amp-en-settings-form{
  margin-left: 12px;
}
.amp-en-label {
    display: inline-block;
    width: 20%;
}
.am-en-tooltip {
    position: relative;
    display: inline!important;
    margin-left: 0;
    color: #d8d8d8!important;
    cursor: pointer;
}
.am-en-tooltip:hover {
    color: #333!important;
}
.am-en-tooltip   i {
    font-size: 18px;
    position: relative;
    top: 3px;
}
.am-en-tooltip .am-en-help-subtitle {
    visibility: hidden;
    width: max-content;
    background-color: #111;
    box-shadow: 0 0 10px 0 #999;
    color: #fff;
    line-height: 1;
    text-align: center;
    border-radius: 5px;
    padding: 10px 8px;
    position: absolute;
    z-index: 100;
    bottom: 100%;
    left: -26px;
    margin-bottom: 6px!important;
    opacity: 0;
    transition: opacity .3s;
    font-size: 11px;
}
.am-en-tooltip .am-en-help-subtitle::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 35px;
    max-width: 1px;
    margin-left: -5px;
    border-width: 9px;
    border-style: solid;
    border-color: #111 transparent transparent transparent;
}
.am-en-tooltip:hover .am-en-help-subtitle {
   visibility: visible;
    opacity: 1;
}
.am-en-help-subtitle  a {
    color: #fff;
    background: #eee;
    padding: 0 5px;
    margin-left: 4px;
    color: #333;
    text-decoration: none;
    border-radius: 53px;
    margin-top: 9px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 25px;
  margin-bottom: 5px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.amp-en-popup-settings {
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
}
.amp-en-popup-settings a{
  text-decoration: none;
  color: black;
}
.enhc-css-container{
  padding: 20px;
}
.amp_enhancer_custom_css{
  color: #F8F8F2;
  background-color: #272822;
  position: relative;
  width: 100%;
  height: 200px; 
  border: 1px solid #DFDFDF; 
  border-radius: 3px; 
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
}
@media(max-width: 768px){
	.enhc-container{
	  width: 60%;
      margin:0px;
	  }

}
@media(min-width: 769px){
	.enhr-comp-cont{
		width: 68%;
	    float: left;
	}
	.enhr_support {
	    width: 28%;
	    float: right;
	}
}